.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-img {
  width: 23px;
  height: 23px;
}

.marker {
  background-image: url("hsp.svg");
  background-size: cover;
  width: 23px;
  height: 23px;
  /* border-radius: 50%; */
  cursor: pointer;
}

.mapWrapper {
  margin-left: 5vw;
  width: 90vw;
  height: 90vh;
}
